@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 435px;
}

.navigation-user {
  margin-left: auto;
  padding: 0;
  width: 435px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  color: inherit;
}

.main-index{
  color: #000000;
  background-color: #FFFFFF;
}

.logo-container {
  display: block;
  text-align: center;
  width: 1200px;
  background-color: #83B3D3;
  background-image: url("../images/index-background.jpg");
}

.tagline{
  font-family: "PT sans";
  font-weight: 700;
  size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.tagline-five-reasons {
  font-family: "PT sans";
  font-weight: 400;
  size: 22px;
  line-height: 36px;
  text-transform: none;
  text-align: center;
}

.advantages {
  width: 1200px;
  height: 1535px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

.advantages-item {
  text-align: center;
  width: 400px;
  height: 384px;
}

.top-image-hous {
  background-image: url("../images/icon-house.svg");
  width: 75px;
  height: 72px;
}

.top-image-food {
  background-image: url("../images/icon-food.svg");
  width: 74px;
  height: 70px;
}

.top-image-souvenir {
  background-image: url("../images/icon-souvenir.svg");
  width: 64px;
  height: 76px;
}

.advantages-title{
  font-family: "PT sans";
  font-weight: 700;
  size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description {
  font-family: "PT sans";
  font-weight: 400;
  size: 18px;
  line-height: 21px;
  text-transform: none;
  text-align: center;
}

.buttoms-form {
  text-align: center;
}

.section-buttoms {
  font-family: "PT sans";
  font-weight: 700;
  size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-buttoms-text {
  font-family: "PT sans";
  font-weight: 400;
  size: 22px;
  line-height: 26px;
  text-transform: none;
}

.search-hotels {
  font-family: "PT sans";
  font-weight: 700;
  size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-align: center;
}

.newsletter {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.newsletter-button {
  font-family: "PT sans";
  font-weight: 700;
  size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-align: center;
}

.section-buttoms-mail {
  font-family: "PT sans";
  font-weight: 700;
  size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.section-buttoms-text-mail {
  font-family: "PT sans";
  font-weight: 400;
  size: 22px;
  line-height: 26px;
  text-transform: none;
  text-align: center;
}

.newsletter {
background-image: url("../images/background_index.jpg");
width: 1200px;
height: 411px;
}

.newsletter-form {
  text-align: center;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-item {
  margin-right: 60px;
  padding: 0;
  width: 120px;

}

.footer-contacts-address-phone {
  font-family: "PT sans";
  font-weight: 400;
  size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 720px;
}

.logo-footer {
  margin-left: 60px;
  padding: 0;
  width: 120px;
}

/* catalog-page */

.hotels-forma {
  background-image: url("../images/catalog-background.jpg");
  display: block;
  width: 1200px;
  height: 408px;
}

.catalog-filter {
  color: #FFFFFF;
}

.setting {
  display: flex;
  justify-content: space-between;
}

.pagination-block {
  display: flex;
  justify-content: flex-start;
}

.hotels-on-page-text {
  margin: 0;
}

.hotels-on-page {
  width: 160px;
  height: 48px;
}

.pagination-item {
  width: 55px;
  height: 55px;
}

.infrastructure-filter-title, .housing-filter-title, .price-filter-group {
  font-family: "PT sans";
  font-weight: 700;
  size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}

.control-input {
  font-family: "PT sans";
  font-weight: 400;
  size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.hotels {
  font-family: "PT sans";
  font-weight: 700;
  size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}

.hotels-page {
  font-family: "PT sans";
  font-weight: 400;
  size: 16px;
  line-height: 21px;
  margin: 0;
}

.catalog-filter {
  display: flex;
}

.control-input {
  font-family: "PT sans";
  font-weight: 400;
  size: 18px;
  line-height: 23px;
}

.button-filter {
  font-family: "PT sans";
  font-weight: 400;
  size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #83B3D3;

}

.button-reset {
  font-family: "PT sans";
  font-weight: 400;
  size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.setting {
  font-family: "PT sans";
  font-weight: 700;
  size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 1056px;
  height: 1040px;
}

.catalog-card {
  width: 340px;
  height: 438px;
}

.catalog-card-link {
  text-decoration: none;

}

.hotel-card-title {
  font-family: "PT sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background-color: #FFFFFF;
}

.hotel-price {
  font-family: "PT sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-card-button {
  font-family: "PT sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.button-show-more {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: "PT sans";
  font-weight: 700;
  size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: "PT sans";
  font-weight: 700;
  size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.hotels-on-page-text {
  font-family: "PT sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.newsletter-catalog {
  text-align: center;
  font-family: "PT sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
}


