
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  margin-top: 0;
  background-color: #E5E5E5;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page {
  margin: 0;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  cursor: pointer;
}

.navigation {
  display: flex;
  width: 1060px;
  min-height: 65px;
  margin: 0 auto -5px;
}

.navigation-item {
  margin: 0;
  height: 65px;
}

.nav-logo {
  margin-right: 40px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 363px;
  list-style-type: none;
  margin-right: 247px;
}

.navigation-link {
  display: block;
  padding: 16px 0 17px 0;
  margin: 4px 27px 0 7px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  color: inherit;
}

.navig-button:hover {
  color: #756257;
}

.navig-button:active {
  border-bottom: 2px solid #756257;
}

.navig-button:focus {
  border-bottom: none;
}

.navig-button::before {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navig-button-current {
  border-bottom: 2px solid #756257;
}

.navigation-link-in {
  display: flex;
  position: absolute;
  padding: 0;
  margin: 14px 0 0 9px;
  width: 160px;
  height: 37px;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation-link-in:hover {
  background-color: #615048;
}

.navigation-link-in:focus {
  outline-color: #83B3D3;
}

.navigation-link-in:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 300px;
  height: 65px;
  list-style-type: none;
}

.navigation-link-icon {
  margin-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 8px;
}

.button12 {
  display: flex;
  padding-bottom: 20px;
  margin-top: 7px;
}

.button12:active {
  opacity: 30%;
}

.ellipse {
  width: 20px;
  height: 20px;
  margin-top: -9px;
  margin-left: -7px;
}

.ellipse12 {
  margin-left: -15px;
  margin-top: -4px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  min-width: 1200px;
  color: #000000;
  background: #FFFFFF;
}
.main-index{
  color: #000000;
  background-color: #FFFFFF;
}

.logo-container {
  display: block;
  text-align: center;
  width: 1200px;
  height: 485px;
  background-color: #83B3D3;
  background-image: url("../images/index-background.jpg");
}

.logo {
  margin-top: 51px;
  margin-bottom: 21px;
}

.welcome-mask {
  padding-bottom: auto;
}

.tagline{
  margin-top: 63px;
  margin-right: 240px;
  margin-bottom: 31px;
  margin-left: 240px;
  width: 720px;
  height: 72px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.tagline-five-reasons {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-transform: none;
  text-align: center;
  width: 720px;
  height: 36px;
  margin-top: 0;
  margin-right: 240px;
  margin-bottom: 80px;
  margin-left: 240px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  list-style-type: none;
}

.advantages-item {
  text-align: center;
  width: 400px;
  height: 384px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

.advantages-list li:nth-child(1) {
  color: #FFFFFF;
  background-color: #83B3D3;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(7) {
  color: #FFFFFF;
  background-color: #83B3D3;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-list li:nth-child(8) {
  background-color: rgba(131, 179, 211, 0.12);
  margin-top: -1px;
}

.advantages-list li:nth-child(9) {
  background-color: rgba(131, 179, 211, 0.2);
  margin-top: -1px;
}

.advantages-list li:nth-child(10) {
  background-color: rgba(131, 179, 211, 0.12);
  margin-top: -1px;
}

.advantages-blue {
  min-height: 56px;
  margin-top: 97px;
  margin-bottom: 30px;
}

.advantages-description-blue {
  width: 220px;
  height: 63px;
  margin: 0 90px 87px;
}


.top-image-hous {
  background-image: url("../images/icon-house.svg");
  width: 75px;
  height: 72px;
  margin: 89px 162.1px 23px 163.2px;
}

.top-image-food {
  background-image: url("../images/icon-food.svg");
  width: 74px;
  height: 70px;
  margin: 91px 163.19px 23px 163px;
}

.top-image-souvenir {
  background-image: url("../images/icon-souvenir.svg");
  width: 64px;
  height: 76px;
  margin: 85.05px 168px 23px;
}

.advantages-title-top-image {
  width: 250px;
  height: 28px;
  margin: 0 75px 20px;
}

.advantages-description-top-image {
  width: 250px;
  height: 73px;
  margin: 0 75px 79px;
}

.img-background {
  width: 800px;
  height: 384px;
}

.number-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  width: 250px;
  height: 21px;
  margin: 0 75px 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  margin-top: 0;
}

.advantages-title-bottom {
  width: 400px;
  height: 56px;
  margin: 99px 0 28px;
}

.advantages-description-bottom {
  width: 250px;
  height: 42px;
  margin: 0 75px 108px;
}

.buttoms-form {
  text-align: center;
}

.section-buttoms {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  height: 36px;
  margin: 91px 240px 29px;
}

.section-buttoms-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  text-align: center;
  width: 720px;
  margin: 0 auto 56px auto;
}

.section-buttoms-text--span {
  margin-right: 10px;
}

.search-hotels {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756257;
  text-transform: uppercase;
  text-align: center;
  width: 575px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 93px;
}

.search-hotels:hover {
  background-color: #615048;
}

.search-hotels:focus {
  outline-color: #83B3D3;
}


.search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.newsletter {
  display: block;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 1200px;
  height: 411px;
  background-image: url("../images/background_index.jpg");
  margin-top: 0;
}

.ind-section-buttoms-mail {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  height: 36px;
  padding-top: 93px;
  margin: 0 auto 30px auto;
}

.ind-section-buttoms-text-mail {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  text-align: center;
  width: 720px;
  height: 52px;
  margin: 24px auto 46px auto;
}

.newsletter-form {
  width: 1200px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-email {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-left: 22px;
  width: 578px;
  height: 59px;
  padding-top: 1px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

.newsletter-email:hover {
  background-color: #E6E6E6;
}

.newsletter-email:focus {
  outline: 3px solid #83b3d3;
}

.newsletter-email:invalid {
  outline: 3px solid #ff5757;
}

.newsletter-button {
  padding: 5px;
  min-width: 200px;
  min-height: 60px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 0 10px 10px 0;
  margin-left: -5px;
}

.newsletter-button--catalog {
  margin-left: -7px;
}

.newsletter-button:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.newsletter-button:focus {
  outline: #756257 solid 3px;
}

.newsletter-button:active {
  outline: none;
  opacity: 0.7;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
  display: flex;
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  height: 120px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  min-width: 127px;
  height: 40px;
  margin: 37px 51px 53px 62px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  width: 40px;
}

.footer-social-tw {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-image: url("../images/tvit.svg");
  background-position: center;
}

.footer-social-tw:focus {
  outline-color: #83B3D3;
}

.footer-social-fb {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-image: url("../images/faceb.svg");
  background-position: center;
}

.footer-social-fb:focus {
  outline-color: #83B3D3;
}

.footer-social-ytb {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-image: url("../images/youtube.svg");
  background-position: center;
}

.footer-social-ytb:focus {
  outline-color: #83B3D3;
}

.footer-contacts-address-phone {
  display: flex;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  width: 360px;
  height: 70px;
  justify-content: center;
  align-items: center;
  margin: 25px 180px;
}

.footer-contacts-address-phone:hover {
  color: #756257;
}

.footer-contacts-address-phone:focus {
  outline-color: #83B3D3;
}

.footer-contacts-address-phone:active {
  outline: none;
  opacity: 30%;
}

.logo-footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  width: 160px;
  height: 70px;
  margin-top: 24px;
  margin-right: 49px;
  margin-left: 30px;
}

.logo-footer-box:hover {
  color: #756257;
}

.logo-footer-box:focus {
  outline-color: #83B3D3;
}

.logo-footer-box:active {
  border: none;
  outline: none;
  opacity: 30%;
}

/* ----------------------------------catalog-page---------------------------------------------------------------------------------- */



 .hotels-properties {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 408px;
  background-color: #1a4649;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.inner-header-title {
  display: block;
  max-width: 750px;
  margin: 35px 0 -5px 71px;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  color: #ffffff;
  padding: 0;
  margin: 0 0 44px 70px;
  list-style-type: none;
}

.breadcrumbs-item:first-child:after {
  content:'';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 25px;
  bottom: 5px;
  background-image: url('../images/arrowfilter.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 20px;
}

.breadcrumbs-link {
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  border-radius: 4px;
  padding: 0px 3px 0px 3px;
  text-decoration: none;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
}

.breadcrumbs-link:hover {
  outline: none;
  opacity: 0.6;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  width: 1056px;
  margin: 0 auto 69px auto;
  align-items: flex-start;
  color: #ffffff;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
  max-width: 160px;
}

.catalog-filter-group-infrastructure {
  margin-right: 67px;
}

.catalog-filter-title {
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-list .catalog-filter-item:not(:last-child){
  margin-bottom: 13px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  cursor: pointer;
}

.control-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  left: 0px;
}

.control-checkbox:checked + .control-mark::after {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-image: url('../images/check-mark-filter.svg');
  background-position: 4px 6px;
  background-repeat: no-repeat;
}

.control-checkbox:focus + .control-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-checkbox:disabled + .control-mark {
  background-color: #646363;
}

.control-radio-mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 2px;
  left: 0px;
}

.control-radio:checked + .control-radio-mark::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-radio:focus + .control-radio-mark {
  outline: 3px solid #83b3d3;
}

.control:hover .control-radio-mark {
  background-color: #ffffff;
  outline: none;
}

.control-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-range {
  display: block;
  margin: 0 80px 0 auto;
  padding: 0;
  border: none;
  min-width: 287px;
}

.range {
  margin-top: 5px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 28px;
  box-sizing: border-box;
}

.range-input {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  border: none;
  width: 144px;
  height: 48px;
  box-sizing: border-box;
  background: transparent;
  color: #ffffff;
  padding: 14px 41px 11px 17px;
}

.range-input:disabled {
  background-color: #9c9b9b;
}

.range-input-from {
  border: 2px solid #FFFFFF;
  border-right: 2px solid transparent;
  border-radius: 4px 0 0 4px;
  background-image: url("../images/for.svg");
  background-repeat: no-repeat;
  background-position: center right 14px;
}

.range-input-to {
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
  position: relative;
  left: -2px;
  background-image: url("../images/to.svg");
  background-repeat: no-repeat;
  background-position: center right 17px;
}

.range-input:hover{
  border: 2px solid rgba(255, 255, 255, 0.6);
}

 .range-input:focus {
  border: 2px solid #ffffff;
  box-shadow: inset 0px 0px 0px 3px #81B3D2;
  outline: 3px solid #81B3D2;
}

.range-input:active {
  background-color: #756257;
  outline: none;
  box-shadow: none;
}

.range-scale {
  position: relative;
  height: 4px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  padding: 61px 0 0 0;
  margin: 0;
  border: none;
}

.button-submit {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 35px 13px 35px;
  margin-bottom: 10px;
  min-width: 160px;
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-submit:focus {
  background-color: #68A2CA;
  outline: 3px solid #ffffff;
  outline-offset: -1px;
}

.button-submit:hover {
  background-color: #68A2CA;
  outline: none;
}

.button-submit:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  width: 100px;
  height: 32px;
  margin-left: 30px;
  margin-top: 3px;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6)
}

.button-reset:focus {
  outline: #83B3D3 solid 3px;
  border-radius: 4px;
}

.button-reset:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3)
}

.setting {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 1057px;
  min-height: 48px;
}

.serch-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  min-width: 337px;
  height: 39px;
  margin: 48px 192px 56px 0;
}

.select-control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 287px;
  height: 48px;
  border-width: 2px;
  border-color: #E6E6E6;
  border-radius: 4px;
  padding-left: 14px;
  margin: 44px 83px 53px 0;
  -webkit-appearance: none;
  background-image: url("../images/inp-right.svg");
  background-position: 90% center;
  background-repeat: no-repeat;
}

.select-contr-svg {
  position: absolute;
}

.select-control:hover {
  border-color: #83B3D3;

}

.select-control:focus {
  outline-color: #83B3D3;
}

.select-control:active {
  opacity: 30%;
}

.toggle {
  height: 44px;
  margin-top: 46px;
  display: flex;
  column-gap: 12px;
}

.card-grid-toggle {
  gap: 8px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid #E6E6E6;
  border-radius: 2px;
}

.card-grid-toggle:hover {
  outline-color: #83B3D3;
}

.card-grid-toggle:focus {
  outline-color: #83B3D3;
}

.card-grid-toggle:active {
  outline-color: #000000;
}

.card-grid-toggle-current {
  outline-color: #000000;
}

.catalog {
  width: 1056px;
  margin: 0 auto 0 auto;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0 18px;
  margin-bottom: 24px;
}

.catalog-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 438px;
  margin: 0 18px 10px 0;
}

.catalog-card-link {
  padding: 0;
  margin: 0;
  width: 300px;
  height: 206px;
  margin: 20px 20px 0;
}

.catalog-card-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -2px;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  background-color: #FFFFFF;
  width: 300px;
  margin: 0;
}

.catalog-card-title-link {
  height: 31px;
  text-decoration: none;
  margin-bottom: 16px;
}

.catalog-card-content {
  padding: 16px 20px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.hotel-price-text {
  width: 133px;
  height: 23px;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 143px;
  height: 23px;
  margin: 0;
}

.hotel-card-button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  width: 133px;
  height: 37px;
  color: #FFFFFF;
  background-color: #756257;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 16px;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:focus {
  outline-color: #83B3D3;
}

.hotel-card-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-favorit {
  width: 140.94px;
  height: 37px;
  background-color: #83B3D3;
  justify-content: center;
}

.button-favorit:hover {
  background-color: #68A2CA;
}

.button-favorit:focus {
  outline-color: #756257;
}

.button-favorit:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-favorit-selected {
  background-color: #7DB54F;
}

.button-favorit-selected:hover {
  background-color: #6C9E42;
}

.button-show-more-box {
  width: 1055px;
  margin: 0 auto 0 auto;
  height: 88px;
  padding-top: 29px;
  padding-bottom: 2px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.button-show-more {
  display: block;
  color: #FFFFFF;
  background-color: #83B3D3;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  width: 619.83px;
  height: 60px;
  border-radius: 4px;
  padding: 0;
  margin: auto 218px auto 218px;
  cursor: pointer;
}

.button-show-more:hover {
  background-color: #68A2CA;
}

.button-show-more:focus {
  outline-color: #756257;
}

.button-show-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-block {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  height: 55px;
  margin: 29px auto 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: flex;
  width: 55px;
  height: 55px;
  background-color: #83B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin-right: 8px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  outline-color: #756257;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-current:hover {
  background-color: #F2F2F2;
}

.section-buttoms-catalog {
  margin: 73px auto 46px auto;
  width: 720px;
  min-height: 36px;
}

.hotels-on-page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  border-width: 2px;
  border-color: #E6E6E6;
  width: 160px;
  height: 48px;
  padding-left: 13px;
  margin: 3px 0 4px;
  margin-left: auto;
  overflow: hidden;
  -webkit-appearance: none;
  background-image: url('../images/filter-arrow.svg');
  background-repeat: no-repeat;
  background-position: 88% center;
  cursor: pointer;
}

.hotels-on-page:hover {
  border-color: #83B3D3;
}

.hotels-on-page:focus {
  outline-color: #83B3D3;
}

.hotels-on-page:active {
  opacity: 30%;
}

.hotels-on-page-text {
  margin-left: auto;
  margin-right: -240px;
}

.newsletter-catalog {
  width: 1200px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 141px;
  margin-left: auto;
  margin-right: auto;
}

.section-buttoms-mail {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 720px;
  height: 36px;
  padding-top: 73px;
  margin: 0 auto 46px auto;
}

.section-buttoms-text-mail {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  text-align: center;
  width: 720px;
  height: 52px;
  margin: 24px auto 46px auto;
}

.newsletter-email {
  background-color: #F2F2F2;
}

.modal-wrapper {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-wrapper--close {
  display: none;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 60px;
  border-radius: 30px;
  width: 595px;
  height: 441px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 69px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active .close-icon {
  opacity: 30%;
}

.modal-title {
  margin: 0;
  margin-left: 8px;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.search-form-hide {
  display: block;
}

.field-group-date {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
}

.search-label {
  margin-top: 3px;
  margin-left: 9px;
  line-height: 40px;
  font-weight: 700;
  width: 155px;
  text-align: start;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.search-input {
  width: 401px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  padding: 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.8px;
}

.search-input::placeholder {
  color: #000000;
}

.search-input:hover {
  background-color: #e6e6e6;
}

.search-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.search-input:active {
  background-color: #ffffff;
}

.date-button {
  position: absolute;
  opacity: 30%;
  right: 10px;
  top: 14px;
  border: none;
}

.date-icon {
  margin-top: 3px;
}

.error-notification {
  position: absolute;
  left: 165px;
  top: 55px;
  font-size: 16px;
  line-height: 20px;
  color: #ff5757;
}

.positive-notification {
  position: absolute;
  left: 165px;
  top: 55px;
  font-size: 16px;
  line-height: 20px;
}

.field-group-age {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.adult-label {
  margin-top: 2px;
  margin-left: 10px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  width: 155px;
  text-align: start;
  cursor: pointer;
}

.buttons-wrapper {
  display: flex;
  height: 50px;
  width: 133px;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
  border-radius: 4px;
  margin: 0;
}

.value-results {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  border: none;
  width: 30px;
  background-color: #f2f2f2;
  text-align: center;
  font-family: inherit;
}

.button-value {
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 4px;
  outline: none;
}

.button-icon {
  opacity: 40%;
  border-radius: 4px;
}

.button-value:hover .button-icon {
  opacity: 100%;
}

.button-value:focus .button-icon {
  opacity: 100%;
  outline: 3px solid #83b3d3;
}

.button-value:active .button-icon {
  opacity: 20%;
  outline: none;
}

.child-label-wrapper {
  position: relative;
  padding-top: 2px;
}

.child-label {
  line-height: 50px;
  font-weight: 700;
  width: 54px;
  padding-left: 56px;
  padding-right: 54px;
  cursor: pointer;
}

.explanation-toggle {
  background-color: #83b3d3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
}

.explanation-toggle:hover {
  background-color: #68a2ca;
}

.explanation-text {
  padding: 20px;
  min-width: 216px;
  display: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 41px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 #0000004d;
}

.explanation-text::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url("../images/ex-decor.svg");
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.explanation {
  position: absolute;
  width: 25px;
  height: 25px;
  display: block;
  top: 14px;
  right: 17px;
}

.explanation-toggle:hover + .explanation-text,
.explanation-toggle:focus + .explanation-text {
  display: block;
  outline: none;
}

.search-form-button {
  width: 575px;
  height: 60px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  background-color: #83b3d3;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  padding-top: 19px;
  padding-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-button:hover {
  background-color: #68a2ca;
}

.search-form-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
  outline: none;
}




